// 项目中需要用到的一些公用css代码块

@mixin border-top {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: blue;
    transform: scaleY(0.5);
  }
}

@mixin border-bottom {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: blue;
    transform: scaleY(0.5);
  }
}
